webservice/static/css/*.min.css* linguist-vendored
webservice/static/css/images/ui-icons* linguist-vendored
webservice/static/css/orig/dontautominify/bootstrap* linguist-vendored
webservice/static/fonts/* linguist-vendored
webservice/static/js/*.min.js linguist-vendored
webservice/static/js/orig/download.js linguist-vendored
webservice/static/js/orig/dontautominify/bootstrap.js linguist-vendored
