{% extends "visualizer_select_base.html" %}

{% block mcloud_header %}
<!-- Add script Plausible and pass domain name as parameter -->
<script type="text/javascript">
    var header = document.getElementsByTagName("head")[0];
    var plausible = document.createElement("script");
    var domain_name = window.location.hostname;

    plausible.async = "";
    plausible.defer = "";
    plausible.dataset["domain"] = domain_name;
    plausible.src = "https://plausible.io/js/plausible.js";
    header.appendChild(plausible);
</script>
<!-- end Plausible analytics -->

{% include "header.html" %}

{% endblock %}
